.course-cart-box {
	margin-top: 30px;
	height: 500px;
	border: 1px lightgrey solid;
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden;
}

.course-cart-row {
	height: 350px;
}

.no-course-message {
	font-size: 14px;
	font-weight: 900;
}

.mobile-request-btn {
	margin:auto !important;
	display: block !important;
	margin-bottom: -16px !important;
	margin-top: 3px !important;
	font-weight: 900 !important;
	background-color: #2B73AD;
	color: white;
}