

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

body {
  background: url("../../../img/bg-pattern.png");
}

.login-form {
	margin-top: 60px;
}

form  {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form input,
	form button {
		font-size: 18px;
		margin: 16px 0;
	}
	form > div {
		text-align: center;
	}
	
.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
.form-links a {
	color: #fff;
}

.login-title {
	width: 170px;
	margin:auto;
	display: block;
	margin-bottom: -1px;
}

