.example-enter {
  opacity: 0.1;
}
@keyframes slidein {
 0%   { 
 transform: translateY(-70%);       
 }

 60% {
 	opacity: .4;
 }

 80% {
 	opacity: .2;
 }
 100% { 
 transform: translateY(25%); 
 opacity: 0;
 }
}

.example-enter.example-enter-active {
  opacity: 1;
  animation: slidein .25s linear;
}

.example-leave {
  opacity: 0;
}

